*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}


body{

background:#120606;
color:white;

}



header{

position:sticky;
top:0;

background:#1f0909;

padding:20px;

display:flex;
justify-content:space-between;
align-items:center;

}


nav a{

color:#ff8080;
text-decoration:none;

margin:15px;

}



.hero{

height:90vh;

display:flex;
flex-direction:column;

justify-content:center;
align-items:center;

text-align:center;

animation:fade 2s;

}



.hero h2{

font-size:45px;
color:#ff5c5c;

}



button{

margin-top:20px;

padding:12px 30px;

border:none;

border-radius:20px;

background:#b91c1c;

color:white;

cursor:pointer;

}



button:hover{

transform:scale(1.1);

}




section{

padding:70px 20px;

}



h2{

text-align:center;

color:#ff6b6b;

margin-bottom:30px;

}



.container{

display:flex;

justify-content:center;

gap:25px;

flex-wrap:wrap;

}



.card{


width:280px;

background:#260909;

padding:25px;

border-radius:20px;

box-shadow:0 0 20px #800000;

transition:.4s;

}



.card:hover{

transform:translateY(-15px);

}



.card a{

display:inline-block;

margin-top:15px;

color:#ff9090;

}



footer{

text-align:center;

padding:20px;

background:#1f0909;

}





@keyframes fade{

from{

opacity:0;

transform:translateY(40px);

}


to{

opacity:1;

transform:translateY(0);

}

}
.explore-btn{

display:inline-block;

margin-top:20px;

padding:12px 30px;

background:#b91c1c;

color:white;

text-decoration:none;

border-radius:20px;

transition:.3s;

}


.explore-btn:hover{

transform:scale(1.1);

background:#ff3333;

}